certifi
chardet
click
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
idna
itsdangerous
Jinja2
joblib
MarkupSafe
multitasking
nltk
numpy
oauthlib
pandas
plotly
PySocks
python-dateutil
pytz
regex
requests
requests-oauthlib
retrying
scikit-learn
scipy
six
textblob
tqdm
tweepy
urllib3
Werkzeug
yfinance
gunicorn